<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Bài tập nhóm 5 phân tích thiết kế phần mềm @DateTime.Now.Year</span>
        </div>
    </div>
</footer>